<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>GOTO System</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/
bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
<link rel="stylesheet" href="/stylesheets/style.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- tooltip script -->
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!-- date time picker -->
<script type="text/javascript">
	$(function () {
  	$('#start').datetimepicker();
  	$('#finish').datetimepicker();
  });
</script>
<!-- fucking back-end script -->
<script>
var idx_contest = 0;
var contest;
var old_prob = [];
var new_prob = [];
$(document).ready(function(){
  contest = <%-JSON.stringify(contest_ls)%>;
});
function clear(id,state) {
  state^=1;
  var param = '"' + "ptoggle(" + id +","+ state + ")" + '"';
  $("#prob_"+id).html("<button class='btn btn-dark' data-toggle='tooltip' title='Toggle Show/Hide' onclick = " + param + ">" + "<i class='fa fa-eye-slash'></i></button>");
}
function ptoggle(id,state){
  state^=1;
  var param = '"' + "ptoggle(" + id +","+ state + ")" + '"';
  if(state == 1) $("#prob_"+id).html("<button class='btn btn-light' data-toggle='tooltip' title='Toggle Show/Hide' onclick = " + param + ">" + "<i class='fa fa-eye'></i></button>");
  else $("#prob_"+id).html("<button class='btn btn-dark' data-toggle='tooltip' title='Toggle Show/Hide' onclick = " + param + ">" + "<i class='fa fa-eye-slash'></i></button>");
  if(state == 1) new_prob.push(id);
  else {
    var pos = new_prob.indexOf(id);
    new_prob.splice(pos, 1);
  }
}
function select_contest(selectvalue) {
  for (var i = 0; i < new_prob.length; i++) clear(new_prob[i],1);
  new_prob = [];
  idx_contest = selectvalue;
  old_prob = JSON.parse(contest[idx_contest].problems);
  for (var i = 0; i < old_prob.length; i++) {
    ptoggle(old_prob[i],0);
  }
}
function save_contest() {
  var data = JSON.stringify(new_prob);
  contest[idx_contest].problems = data;
  $.post("/config/contest/update",
  {
    name: contest[idx_contest].name,
    problem: data,
  });
}
</script>
<!-- load task -->
<script>
var prob = <%-JSON.stringify(problems)%>;
var contest_ls = <%-JSON.stringify(contest_ls)%>;
	$(document).ready(function() {
		var tr;
		var sz = prob.length;
		for (var i = 0; i < sz; i++) {
			tr = $("<tr/>");
			var id = prob[i].id_Prob;
			var name = prob[i].name;
			var sname = prob[i].sname;
			var time = prob[i].time;
			var mem = prob[i].memory;
			var see = prob[i].state;
			var path = "problems/docs/" + sname;
			var param = '"' + "ptoggle(" + id + ",0)" + '"';

			// button group
			var toggle;
			var edit = "<button class='btn btn-info' data-toggle='tooltip' title='Edit'>" +
			"<i class='fa fa-pencil'></i></button>";
			var rejudge = "<button class='btn btn-warning' data-toggle='tooltip' title='Rejudge'>" +
			"<i class='fa fa-refresh'></i></button>";
			var del = "<button class='btn btn-danger' data-toggle='tooltip' title='Delete'>" +
			"<i class='fa fa-trash'></i></button>"

			tr.append("<td>" + id + "</td>");
			tr.append("<td>" + "<a class = 'otogtxt' href =" + path + ">" + name + "</a>" + "</td>");
			tr.append("<td>" + time + "</td>");
			tr.append("<td>" + mem + "</td>");

			// check see status
			toggle = "<button class='btn btn-dark' data-toggle='tooltip' title='Toggle Show/Hide' onclick = " + param + ">" + "<i class='fa fa-eye-slash'></i></button>";
			//else toggle = "<button class='btn btn-light' data-toggle='tooltip' title='Toggle Show/Hide' onclick = " + param + ">" + "<i class='fa fa-eye'></i></button>";

			// add button group
			tr.append("<td>" + "<div class = 'btn-group' id='prob_"+id+"'>" + toggle +"</div>" + "</td>");
			$("#task").append(tr);
		}
	});
  $("#contest").prop("selectedIndex", -1);
	</script>
  <script>
  $(document).ready(function() {
    var contest_ls = <%-JSON.stringify(contest_ls)%>;
		var sz = contest_ls.length;
    for(var i = 0; i < sz; i++) {
      var tr = $("<option value='"+i+"'>");;
      tr.append(contest_ls[i].name + "</option>");
      $("#contest").append(tr);
    }
  })
  </script>
  <script>
  </script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/config">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/config/task">Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User</a>
    </li>
   	<li class="nav-item active">
      <a class="nav-link" href="/config/contest">Contest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/main" style="color:#ff0000">Exit</a>
    </li>
  </ul>
	</nav><br><br><br>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<button class='btn btn-success btn-lg'
				data-toggle = "modal" data-target = "#newprob">
   			<i class="fa fa-plus-circle"></i> New Contest
      </button><br><br>
        <label for="contest">Contest : </label>
        <select class="custom-select" id="contest" onchange="select_contest(this.value);">
          <option disabled selected value> -- select a contest -- </option>
        </select>
        <button class='btn btn-info btn-lg' onclick="save_contest();">Save
        </button><hr>
				<div class="card">
					<div class="card-header bg-info"><b>Guide</b></div>
					<div class="card-body">
						1. You can add and edit problems in this page.<br><br>
						2. Hover over each icons for explanation.<br><br>
						3. In add feature you <b>must</b> fill every form carefully.
					</div>
				</div>
			</div>
			<div class="col-md-9">

				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Time</th>
							<th>Memory</th>
							<th>Score</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="task"></tbody>
				</table>
			</div>
			<!-- submit form -->
  		<div class="modal fade" id="newprob">
    		<div class="modal-dialog">
      	<div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id = "prob_head" class="modal-title"> Add New Contest	 </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
 					<form action="/config/contest/new" method="post">
          <label for="Name_contest">Name Contest : </label>
          <input type="text" name="name" class="form-control"><br>
 					<label for="mode_grader">Choose Mode : </label>
 					<select class="custom-select" id="mode_grader" name="mode_grader">
						<option value="unrated">Unrated Contest</option>
						<option value="rated">Rated Contest</option>
					</select><br><br>

					<label for="judge">Judge Mode : </label>
					<select class="custom-select" id="judge" name="judge">
						<option selected value="classic">Classic (Time based)</option>
						<option value="acm">ACM Mode</option>
						<option disabled>OTOG Mode</option>
						<option disabled>Blind Mode</option>
					</select><br><br>

 					<label for="start">Start Time : </label>
					<div class="input-group date" id="start" data-target-input="nearest">
           	<input type="text" name="time_start" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#start" data-toggle="datetimepicker">
            	<button class="btn btn-info" type="button">
            		<i class="fa fa-calendar"></i>
            	</button>
            </div>
          </div><br>

					<label for="start">Finish Time : </label>
					<div class="input-group date" id="finish" data-target-input="nearest">
           	<input type="text" name="time_end" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#finish" data-toggle="datetimepicker">
            	<button class="btn btn-info" type="button">
            		<i class="fa fa-calendar"></i>
            	</button>
            </div>
          </div><br>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
          </div>
 					</form>
        </div>
      </div>
    </div>
  </div>
  </div>
	</div>

</body>
</html>
