<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
				<form class="form-group" action="#">
					<label for="mode">Judge Mode : </label>
					<div class="input-group mb-3">
					<select class="custom-select" id="judge">
						<option selected>Classic (Time based)</option>
						<option>ACM Mode</option>
						<option disabled>OTOG Mode</option>
						<option disabled>Blind Mode</option>
					</select>
					<div class="input-group-append">
						<button class="btn btn-info" type="submit">Save</button>
					</div>
					</div>
				</form><br>

			<!-- start + end contest -->
			<form action="#">
				<label>Choose start and finish time : </label>
				<div class="input-group">
  			<input type="text" aria-label="start" class="form-control" placeholder="start time">
  			<input type="text" aria-label="finish" class="form-control" placeholder="finish time">
  			<div class="input-group-append">
					<button class="btn btn-info" type="submit">Save</button>
  			</div>
				</div>
			</form>
			</div>
</body>
</html>