<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

	<!-- navigation bar -->
	<nav class="navbar navbar-expand-sm navbar-light justify-content-end" style="background-color: #F1F1F1">
		<a class="navbar-brand head_typo" href="#">OTOG - One Tambon One Grader</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link head_typo" href="main">
				<i class="fa fa-home"></i>
				Main</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo active" href="problems">
				<i class="fa fa-puzzle-piece"></i>
				Problems</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="contest">
				<i class="fa fa-trophy"></i>
				Contest</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="ratings">
				<i class="fa fa-bar-chart"></i>
				Ratings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="login">
				<i class="fa fa-sign-in"></i>
				Login</a>
			</li>
		</ul>
	</nav><br><br><br>

	<!-- problem section -->
	<div class="container">
	<!-- search problem -->
	<form class="form-inline" action="#">
		<div class="form-group">
			<h2> <i class ="fa fa-puzzle-piece"></i> Problem </h2>
			<div style="padding-left: 675px ">
				<label class="sr-only"><b>ค้นหาโจทย์</b></label>
				<input type="text" class="form-control" id="input_prob" placeholder="ค้นหาโจทย์">
				<button type="submit" class="btn otogbtn btn-md">Search</button>
			</div>
		</div>
	</form>
	<hr>
		<!-- fetch online problem -->
	<table class="table table-condensed table-hover" style="text-align: center;">
		<thead>
			<tr style="color: #FF851B">
				<th scope="col">#</th>
				<th scope="col">ชื่อโจทย์</th>
				<th scope="col">Ratings</th>
				<th scope="col">ผ่านแล้ว</th>
			</tr>
		</thead>

		<!-- problem fetch function -->
		<!-- remind me to change data name + field -->
		<% var prob_num = problem.length;
		if(problem.length > 0){
		<tbody class="justify-content-center">
			for(var i = 0; i != prob_num; ++i){%>
			<tr style="color: #FF851B">
				<td><%=(i+1)%></td>
				<td><%=problem[i].name%></td>	
				<td><%=problem[i].ratings%></td>	
				<td><%=problem[i].passed%></td>	
			</tr>
			<%}
		</tbody>
	 } %>
	</table>

	<!-- pagination -->
	<nav>
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a href="#" class="page-link" tabindex="-1">Previous</a>
			</li>
			<li class="page-item active"><a href="#" class="page-link">1</a></li>
			<li class="page-item"><a href="#" class="page-link">2</a></li>
			<li class="page-item"><a href="#" class="page-link">3</a></li>
			<li class="page-item"><a href="#" class="page-link">Next</a></li>

		</ul>
	</nav>
		<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contract Us </a></p>
			</div>
			<div class="col-md-6">
				<span class="float-right"> &copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</body>
</html>