<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- W3.js -->
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <script type="text/javascript">
  	$(document).ready(function(){
      $("#submit_modal").hide();
  		var prob = <%-JSON.stringify(problems)%>;
  		var tr;
  		var sz = prob.length;
  		//alert(sz);
  		for(var i = 1; i <= sz; i++){
  			tr = $("<tr/>");
  			var id = prob[i].id_Prob;
  			var name = prob[i].name;
				var sname = prob[i].sname;
  			var time = prob[i].time;
  			var mem = prob[i].memory;
  			//var rating = prob[i].rating;
  			var pass = prob[i].pass;
  			var path = "problems/docs/" + sname;
        var param = "show_submit(" + id + ")";
  			tr.append("<td>" + id + "</td>");
  			tr.append("<td>" + "<a href =" + path + ">" + name + "<br>"
  			+ "(" + time + "วินาที, " + mem + "MB" + ")" + "</a>" + "</td>");
  			tr.append("<td>" + "1500" + "</td>");
  			tr.append("<td>" + pass + "</td>");
  			tr.append("<td>" +  "<button class='btn otogbtn' onclick=" + param + 
        "data-toggle = 'modal' data-target='#submit_modal'>Submit</button>" + "</td>");
  			$("#body").append(tr);
  		}
  	});
  </script>

  <script type="text/javascript">
    function show_submit(id){
      var prob = <%-JSON.stringify(problems)%>;
      var pname = prob[id].sname;
      $("#prob_head").text(pname);
    }
  </script>

</head>

<body>
	<!-- problem section -->
	<div class="container">
	<!-- search problem -->
	<h2> <i class ="fa fa-puzzle-piece"></i> Problem </h2><br>
	<div class="row">
		<input class ="col-md-9 form-control"
		oninput="w3.filterHTML('#probs', '.item', this.value)" placeholder="ค้นหาโจทย์">
		<a href="submission" class="col-md-3 btn otogbtn">View Submission</a>
	</div>
	<hr>

	<table class="table table-hover" id = "probs" style="text-align: center;">
			<thead>
				<tr style="color: #FF851B">
					<th onclick = "w3.sortHTML('#probs', '.item', 'td:nth-child(1)')">#</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(2)')">Name</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(3)')">Rating</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(4)')">Passed</th>
					<th></th>
				</tr>
			</thead>
			<tbody id = "body" class="item"></tbody>
	</table>

  <!-- submit form -->
  <div class="modal fade" id="submit_modal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id = "prob_head" class="modal-title"> Modal Header </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form>

            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customfile">
              <label class="custom-file-label" for="customfile">Choose file</label>
            </div><br><br>

            <label>Choose Language</label>
            <select class="custom-select">
              <option selected value="c">C</option>
              <option selected value="cpp">C++</option>
            </select><br><br>

            <div class="modal-footer">
            <button type="submit" class="btn otogbtn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
