<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- W3.js -->
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- show header -->
  <script type="text/javascript">
  	$(document).ready(function(){
  		$("#nav").load("head_prob.html");
  	});
  </script>

</head>

<body>

	<!-- navigation bar -->
	

	<!-- problem section -->
	<div class="container">
		<div id="nav"></div>
	<!-- search problem -->
	<h2> <i class ="fa fa-puzzle-piece"></i> Problem </h2><br>
	<div class="row">
		<input class ="col-md-9 form-control"
		oninput="w3.filterHTML('#probs', '.item', this.value)" placeholder="ค้นหาโจทย์">
		<a href="submission" class="col-md-3 btn otogbtn">View Submission</a>
	</div>
	<hr>
	
	<table class="table table-hover" id = "probs" style="text-align: center;">
			<thead>
				<tr style="color: #FF851B">
					<th onclick = "w3.sortHTML('#probs', '.item', 'td:nth-child(1)')">#</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(2)')">Name</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(3)')">Rating</th>
					<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(4)')">Passed</th>
				</tr>
			</thead>
			<tbody>
				<% problems.forEach(function(problem){ %>
					<tr class="item">
    				<td> <%= problem.id_Prob %> </td>
    				<td><a href="problems/docs/<%=problem.sname%>" target="_blank" style="color: #FF851B"> <%= problem.name %>
    					<br>(<%= problem.time %> วินาที, <%= problem.memory %> MB)</a></td>
    				<td>1500</td>
    				<td>19</td>
    			</tr>
  			<% })%>
  		</tbody>
		</table>
		<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contract Us </a></p>
			</div>
			<div class="col-md-6">
				<span class="float-right"> &copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</body>
</html>