<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- W3.js -->
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <!-- show header -->
  <script type="text/javascript">
  	$(document).ready(function(){
  		$("#nav").load("ratings/head_rating");
  	});
  </script>

  <!-- color name -->
  <script type="text/javascript">
  	$(document).ready(function(){
  		var all_user = <%-JSON.stringify(users)%>;
  		var tr;
  		var sz = all_user.length;
  		//alert(sz);
  		for(var i = 1; i <= sz; i++){
  			tr = $("<tr/>");
  			var name = all_user[i].sname;
  			var rating = all_user[i].rating;
  			tr.append("<td>" + i + "</td>");
  			if(rating >= 2000) 
  				tr.append("<td class='item grandmaster'>" + name + "</td>");
  			else if(rating >= 1800)
  				tr.append("<td class='item master'>" + name + "</td>");
  			else
  				tr.append("<td class='item regular'>" + name + "</td>");
  			//$("tr").append("<td>" + name + "</td>");
  			tr.append("<td class='item'>" + rating + "</td>");
  			tr.append("<td class='item'>" + "19" + "</td>");
  			$("#body").append(tr);
  		}
  	});
  </script>

</head>

<body>

	<!-- navigation bar -->
	<div id="nav"></div>

	<!-- rating section -->
	<div class="container">
	<!-- search user -->
	<h2> <i class ="fa fa-bar-chart"></i> Rating </h2><br>
	<div class="row">
		<label class="col-md-2"><b>ค้นหาผู้ใช้ : </b></label>
		<input class ="col-md-6 form-control"
		oninput="w3.filterHTML('#user', '.item', this.value)" placeholder="ค้นหาผู้ใช้">
		<div class="col-md-4"></div>
	</div>
	<hr>
		<!-- fetch online problem -->
		<table class="table table-hover" id = "user" style="text-align: center;">
			<thead>
				<tr style="color: #FF851B">
					<th onclick = "w3.sortHTML('#user', '.item', 'td:nth-child(1)')">#</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(2)')">Name</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(3)')">Rating</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(4)')">Passed</th>
				</tr>
			</thead>
			<tbody id = "body"></tbody>
		</table>
	</table>

	<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
			</div>
			<div class="col-md-6">
				<span class="float-right"> &copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</body>
</html>