<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- action with login -->
 	<script type="text/javascript">
 		$(document).ready(function(){
 			var isLogin = "<%= is_login %>";
			//alert(isLogin);
 			var allprob = "<%= allprob %>";
 			var passed = "<%= passprob %>";
 			var notpassed = "<%= notpassed %>";
 			var nosub = "<%= nosub %>";
 			if(isLogin == "1"){
 				$("#login_but").html("<i class=\"fa fa-sign-in\"></i> Logout");
 				$("#login_but").attr("href", "logout");
 				$("#login_but").css("color", "red");
 				$("#welcome").show();
 				$("#guest").hide();
 			}
 			else{
 				$("#login_but").html("<i class=\"fa fa-sign-in\"></i> Login");
 				$("#login_but").attr("href", "login");
 				$("#login_but").css("color", "rgba(0, 0, 0, 0.7)");
 				$("#welcome").hide();
 				$("#guest").show();
 			}


 		});
 	</script>
 	<script type="text/javascript">
 		$(document).ready(function(){
 			var prob = <%-JSON.stringify(problems)%>;
 			var tr;
  		var sz = prob.length;
 			for(var i = 1; i <= sz; i++){
  			tr = $("<tr/>");
        //tr.addClass("item");
  			var id = prob[i].id_Prob;
  			var name = prob[i].name;
				var sname = prob[i].sname;
  			var time = prob[i].time;
  			var mem = prob[i].memory;
  			var rating = prob[i].rating;
  			var pass = prob[i].pass;
        //if(pass_state[id] == 1) tr.addClass("table-success");
        //else if(pass_state[id] == 2) tr.addClass("table-danger");
  			var path = "problems/docs/" + sname;
  			tr.append("<td>" + id + "</td>");
  			tr.append("<td>" + "<a class = 'otogtxt' href =" + path + ">" + name + "<br>"
  			+ "(" + time + " วินาที, " + mem + " MB" + ")" + "</a>" + "</td>");
  			tr.append("<td>" + rating + "</td>");
  			tr.append("<td>" + pass + "</td>");
  			$("#body").append(tr);
  		}
  	});
 	</script>
</head>

<body>

	<!-- navigation bar -->
	<nav class="navbar navbar-expand-sm navbar-light justify-content-end" style="background-color: #F1F1F1">
		<a class="navbar-brand head_typo" href="main">OTOG - One Tambon One Grader</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link head_typo active" href="main">
				<i class="fa fa-home"></i>
				Main</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="problems">
				<i class="fa fa-puzzle-piece"></i>
				Problems</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="contest">
				<i class="fa fa-trophy"></i>
				Contest</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="ratings">
				<i class="fa fa-bar-chart"></i>
				Ratings</a>
			</li>
			<li class="nav-item">
					<a id = "login_but" class="nav-link head_typo" href="login">
					<i class="fa fa-sign-in"></i>
					Login</a>
			</li>
		</ul>
	</nav>
	<!-- end navigation bar -->
	<br>
	<div class = "jumbotron">
		<div class = "container">
			<!-- not login -->
			<div id = "guest">
				<h1>Welcome to <code style = "color : #ff851b">OTOG</code></h1>
				<h1>Become a god of competitive programming.</code></h1>
				<h3>Learn how to code and build algorithms efficiently.</h3><br>
				<a href="register" target="_blank" class="btn btn-lg otogbtn">Sign Up</a>
			</div>
			<!-- login -->
			<div id="welcome">
				<h2> <code class = "otogtxt"> สวัสดี <%= showname %>!</code></h2>
				<ul>
					<li>
						<h3> <code class = "font_gray">ทั้งหมด <%= allprob %></code></h3>
					</li>
					<li>
						<h3> <code class = "font_green">ผ่านแล้ว <%= passprob %></code></h3>
					</li>
					<li>
						<h3> <code class = "font_red">ยังไม่ผ่าน <%= notpassed %></code></h3>
					</li>
					<li>
						<h3> <code class = "font_org">ยังไม่ส่ง <%= nosub %></code></h3>
					</li>
				</ul>
			</div>
	</div>
	</div><br>
	<!-- 3 main path -->
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2><i class="fa fa-question"></i> FAQ</h2>
			<p> ไม่รู้ว่าจะเริ่มต้นอย่างไร ทุกอย่างดูงงไปหมด ถ้าหากคุณมีปัญหาเหล่านี้สามารถ หาคำตอบได้จาก คำถามยอดนิยมที่ผู้ใช้ส่วนใหญ่มักจะถามเป็นประจำ </p>
			<a href="#" target="_blank" class="btn btn-lg otogbtn">Learn More</a>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-flag-checkered"></i>  Get started</h2>
			<p> เพิ่งเริ่มการเดินทาง อาจจะอยากได้การต้อนรับที่ดี ด้วยโจทย์ที่คัดสรรว่าเหมาะสำหรับผู้เริ่มต้นใน competitive programming </p>
			<a href="problems" target="_blank" class="btn btn-lg otogbtn">View Problem</a>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-trophy"></i> Contest</h2>
			<p> ทำโจทย์คนเดียวมันอาจจะเหงา ลองมาเข้า contest การแข่งขันอันทรงเกียรติ(?) เพื่อจะได้มีเพื่อนทำโจทย์และแข่งขันไปพร้อมๆกันกับเรา </p>
			<a href="contest" target="_blank" class="btn btn-lg otogbtn">Join Contest</a>
		</div>
	</div>
	<!-- example of table use for refer only -->
		<br><br><br>
		<div>
		<i class="glyphicon glyphicon-asterisk"></i>
			<h2><i class="fa fa-puzzle-piece"></i> โจทย์ใหม่</h2>
		</div>
		<hr>
	<!-- fetch new problem (maybe top 10) -->
	<table class="table table-hover" style="text-align: center;">
		<thead>
			<tr style="color: #FF851B">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Passed</th>
				<th scope="col">Ratings</th>
			</tr>
		</thead>
		<tbody id = body></tbody>
	</table>

	<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
			</div>
			<div class="col-md-6">
				<span class="float-right"> &copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
