<!DOCTYPE html>
<html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
		<title>OTOG - One Tambon One Grader</title>

	<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- action with login -->
 	<script type="text/javascript">
 		$(document).ready(function(){
 			var isLogin = "<%= is_login %>";
 			$("#hello").hide();
 			if(isLogin == "1"){
 				$("#login").html("<a class = 'nav-link head_typo' href= 'logout' style = 'color:red;'> LOGOUT </a>");
 				$("#hello").show();
 			}
 		});
 	</script>

</head>

<body>

	<!-- navigation bar -->
	<nav class="navbar navbar-expand-sm navbar-light justify-content-end" style="background-color: #F1F1F1">
		<a class="navbar-brand head_typo" href="main">OTOG - One Tambon One Grader</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link head_typo active" href="main">
				<i class="fa fa-home"></i>
				Main</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="problems">
				<i class="fa fa-puzzle-piece"></i>
				Problems</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="contest">
				<i class="fa fa-trophy"></i>
				Contest</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="ratings">
				<i class="fa fa-bar-chart"></i>
				Ratings</a>
			</li>
			<li class="nav-item">
					<a id = "login" class="nav-link head_typo" href="login">
					<i class="fa fa-sign-in"></i>
					Login</a>
			</li>
		</ul>
	</nav>
	<!-- end navigation bar -->
	<br>
	<div class = "jumbotron">
		<div class = "container">
			<!-- not login -->
			<h1>Welcome to <code style = "color : #ff851b">OTOG</code></h1>
			<h1>Become a god of competitive programming.</code></h1>
			<h3>Learn how to code and build algorithms efficiently.</h3><br>
			<a href="register" target="_blank" class="btn btn-lg otogbtn">Sign Up</a>
			<!-- login -->
			<div id="hello">
				<h1 class="otogtxt">สวัสดี <%= showname %>!</h1>
				<div class="count_btn gray">
					<div class="cnt_msg font_gray">ทั้งหมด</div>
					<div class="cnt_num font_gray">234</div>
				</div>
				<div class="count_btn green">
					<div class="cnt_msg font_white">ผ่านแล้ว</div>
					<div class="cnt_num font_white">171</div>
				</div>
				<div class="count_btn red">
					<div class="cnt_msg font_white">ยังไม่ผ่าน</div>
					<div class="cnt_num font_white">9</div>
				</div>
				<div class="count_btn org">
					<div class="cnt_msg font_white">ยังไม่ส่ง</div>
					<div class="cnt_num font_white">54</div>
				</div>
			</div>
	</div>
	</div><br>
	<!-- 3 main path -->
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2><i class="fa fa-question"></i> FAQ</h2>
			<p> ไม่รู้ว่าจะเริ่มต้นอย่างไร ทุกอย่างดูงงไปหมด ถ้าหากคุณมีปัญหาเหล่านี้สามารถ หาคำตอบได้จาก คำถามยอดนิยมที่ผู้ใช้ส่วนใหญ่มักจะถามเป็นประจำ </p>
			<a href="#" target="_blank" class="btn btn-lg otogbtn">Learn More</a>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-flag-checkered"></i>  Get started</h2>
			<p> เพิ่งเริ่มการเดินทาง อาจจะอยากได้การต้อนรับที่ดี ด้วยโจทย์ที่คัดสรรว่าเหมาะสำหรับผู้เริ่มต้นใน competitive programming </p>
			<a href="problems" target="_blank" class="btn btn-lg otogbtn">View Problem</a>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-trophy"></i> Contest</h2>
			<p> ทำโจทย์คนเดียวมันอาจจะเหงา ลองมาเข้า contest การแข่งขันอันทรงเกียรติ(?) เพื่อจะได้มีเพื่อนทำโจทย์และแข่งขันไปพร้อมๆกันกับเรา </p>
			<a href="contest" target="_blank" class="btn btn-lg otogbtn">Join Contest</a>
		</div>
	</div>
	<!-- example of table use for refer only -->
		<br><br><br>
		<div>
		<i class="glyphicon glyphicon-asterisk"></i>
			<h2><i class="fa fa-puzzle-piece"></i> โจทย์ใหม่</h2>
		</div>
		<hr>
	<!-- fetch new problem (maybe top 10) -->
	<table class="table table-hover" style="text-align: center;">
		<thead>
			<tr style="color: #FF851B">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Passed</th>
				<th scope="col">Ratings</th>
			</tr>
		</thead>
		<tbody>
				<% problems.forEach(function(problem){ %>
					<tr>
    				<td> <%= problem.id_Prob %> </td>
    				<td><a href="problems/docs/<%=problem.sname%>" target="_blank" style="color: #FF851B"> <%= problem.name %> </a></td>
    				<td> </td>
    				<td> </td>
    			</tr>
  			<% })%>
  		</tbody>
	</table>

	<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row">
			<div class="col-md-6">
				<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
			</div>
			<div class="col-md-6">
				<span class="float-right"> &copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</div>
</body>
</html>