<!DOCTYPE html>
<html>
<html lang="en">

<head>
	<!-- main source of custom css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">	
	<script>
		$(document).ready(function() {
			$("#submit_modal").hide();
			var prob = <%-JSON.stringify(problems)%>;
			var pass_state = <%-JSON.stringify(pass)%>;
			var is_login = "<%= is_login %>";
			var tr;
			var sz = prob.length;
			//alert(sz);
			for (var i = 0; i < sz; i++) {
				tr = $("<tr/>");
				tr.addClass("item");
				var id = prob[i].id_Prob;
				var name = prob[i].name;
				var sname = prob[i].sname;
				var time = prob[i].time;
				var mem = prob[i].memory;
				//var rating = prob[i].rating;
				var pass = prob[i].pass;
				if(is_login == "1") {
					if(pass_state[id] == 2) tr.addClass("item AC");
					else if(pass_state[id] == 1)tr.addClass("item WA");
				}
				var path = "problems/docs/" + sname;
				var param = '"' + "show_submit(" + i + ")" + '"';
				var showcode = '"' + "show_code(" + id + ")" + '"';
				var viewcode = "<button class='btn otogbtn' onclick=" + showcode + 
				"data-toggle = 'modal' data-target='#scmodal'><i class='fa fa-hashtag'></i></button>"
				var submit =  "<button class='btn otogbtn' onclick=" + param +
				"data-toggle = 'modal' data-target='#submit_modal'>Submit</button>"
				tr.append("<td>" + id + "</td>");
				tr.append("<td>" + "<a class = 'otogtxt' target='_blank' href =" + path + ">" + name + "<br>" +
					"(" + time + " วินาที, " + mem + " MB" + ")" + "</a>" + "</td>");
				tr.append("<td>" + "1500" + "</td>");
				tr.append("<td>" + pass + "</td>");
				if (is_login == "1") {
					if(pass_state[id] != 0) 
						tr.append("<td><div class='btn-group'>" + submit + viewcode + "</div></td>");
					else 
						tr.append("<td>" + submit + "</td>");
				}
				else $("#submit-header").hide();
				$("#body").append(tr);
			}
		});
	</script>
	<script>
		function show_submit(id) {
			//alert("It's (may) work !");
			var prob = <%-JSON.stringify(problems)%>;
			var pname = prob[id].name;
			//alert(pname);
			$("#prob_head").text(pname);
			$("#send_id").attr("value", prob[id].id_Prob);
		}
	</script>
	<!-- submission script -->
	<script>
		var input = document.getElementById('customfile');
		var label = document.getElementById('file_name');
		input.addEventListener('change', showFileName);

		function showFileName(event) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			label.textContent = fileName;
		}
	</script>
	<script>
		function OnUploadCheck()
		{
			var extall="c,cpp";
			file = document.form1.customfile.value;
			ext = file.split('.').pop().toLowerCase();
			if(parseInt(extall.indexOf(ext)) < 0)
			{
				alert('Extension support : ' + extall);
				return false;
			}
			return true;
		}
	</script>
	<script>
		function show_code(id){
			var str = "Submission : " + id;
			$("#schead").text(str);
			$("#sc").load("/request_sc/latest", {prob_id : id}, function(response, status, xhr) {
				$("#sc").text(response)
			});
		}
	</script>
</head>

<!-- problem section -->
<body>
	<!-- search problem -->
	<h2> <i class ="fa fa-puzzle-piece"></i> Problem </h2><br>
	<div class="row m-auto justify-content-between">
		<input class ="col-12 col-sm-6 col-md-8 form-control" oninput="w3.filterHTML('#probs', '.item', this.value)" placeholder="ค้นหาโจทย์">
		<a href="submission" class="col-12 col-sm-4 col-md-3 col-lg-2 btn otogbtn mt-1">View Submission</a>
	</div> <hr>
	<div class="table-responsive">
	<table class="table table-hover" id="probs" style="text-align: center;">
		<thead>
			<tr style="color: var(--otog)">
				<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(1)')">#</th>
				<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(2)')">Name</th>
				<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(3)')">Rating</th>
				<th onclick= "w3.sortHTML('#probs', '.item', 'td:nth-child(4)')">Passed</th>
				<th id="submit-header">Submit</th>
			</tr>
		</thead>
		<tbody id = "body"></tbody>
	</table>
	</div>
	<!-- view form -->
  	<div class="modal fade" id="scmodal">
    <div class="modal-dialog">
      	<div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        	<h4 id = "schead" class="modal-title"> Modal Header </h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>	

        <!-- Modal body -->
        <div class="modal-body">
			<pre><code data-langauge="c" id="sc"></code></pre>
		</div>

      	</div>
    </div>
	</div>
	  
	
	<!-- submit form -->
	<div class="modal fade" id="submit_modal">
		<div class="modal-dialog">
      	<div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id = "prob_head" class="modal-title"> Modal Header </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          	<form name="form1"action="upload" method="post" enctype="multipart/form-data" onSubmit="return OnUploadCheck();">
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="customfile" id="customfile">
					<label class="custom-file-label" for="customfile" id = "file_name">Choose file</label>
				</div><br><br>

				<label>Choose Language</label>
				<select class="custom-select">
					<option selected value="c">C</option>
					<option selected value="cpp">C++</option>
				</select><br><br>
				<input type="hidden" value = "#" name="prod_id" id = "send_id">
				<div class="modal-footer">
				<button type="submit" class="btn otogbtn">Submit</button>
				</div>
          	</form>
		</div>
		
      	</div>
    	</div>
	</div>
	  
</body>
</html>
