<!DOCTYPE html>
<html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>OTOG - One Tambon One Grader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- socket io-->
	<script src="/socket.io/socket.io.js"></script>
	<!-- bootstrap integral -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!--W3.js -->
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	
	<!-- main source of custom css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
	
	<!--script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script-->
	
	<!--rainbow code-->
	<link href="/stylesheets/monokai.css" rel="stylesheet" type="text/css">

	<!-- include login script-->
	<script>
		var isLogin = "<%= is_login %>";
		$(document).ready(function() {
			$("#scmodal").hide();
			if (isLogin == "1") {
				$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Logout</span>");
				$("#login_but").attr("href", "logout");
				$("#login_but").css("color", "red");
			} else {
				$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Login</span>");
				$("#login_but").attr("href", "login");
				$("#login_but").css("color", "rgba(0, 0, 0, 0.7)");
			}
		});
	</script>
	<script>
		var socket = io();
    socket.on('connect',function(data) {
      socket.emit('req_table','req_table from client');
    });
    socket.on('submission',function(data){
      if(load_table(data.submission)) socket.emit('stop_req','stop_req from client');
    });
	</script>
	<!-- load submission -->
	<script>
		function load_table(res) {
			$("#body").html("");
			var isLogin = "<%= is_login %>";
			var isAdmin = "<%= is_admin %>";
			var id_user = "<%= id_user %>";
			var tr;
			var is_complete = true;
			var sz = res.length;
			for (var i = 0; i < sz; i++) {
				if(res[i].status == 0) is_complete = false;
				tr = $("<tr/>");
				var id = res[i].idResult;
				var pname = res[i].name;
				var sname = res[i].sname;
				var result = res[i].result;
				var time = res[i].timeuse;
				var score = res[i].score;
				var rating = res[i].rating;
				var param = '"' + "show_code(" + id + ")" + '"';
				var errortxt = '"' + "errortxt(" + id + ")" + '"';
				var delqueue = '"' + "delsub(" + id + ")" + '"';
				var del = "<button class='btn btn-danger' onclick=" + delqueue + 
				"data-toggle='tooltip' title='Delete'><i class='fa fa-trash'></i></button>"
				var viewcode = "<button class='btn otogbtn' onclick=" + param + 
				"data-toggle = 'modal' data-target='#scmodal'><i class='fa fa-hashtag'></i></button>"
				if(score == 100) tr.addClass("AC");
				tr.append("<td>" + id + "</td>");
				if (rating >= 2000)
					tr.append("<td class='grandmaster'>" + sname + "</td>");
				else if (rating >= 1800)
					tr.append("<td class='master'>" + sname + "</td>");
				else
					tr.append("<td class='regular'>" + sname + "</td>");
				tr.append("<td>" + pname + "</td>");
				if(result != "Compilation Error")
					tr.append("<td>" + result + "</td>");
				else if(isLogin == "1" && id_user == res[i].user_id || isAdmin == "0")
					tr.append("<td>" + "<p id='demo' class = 'otogtxt pointer' onclick=" + errortxt + "data-toggle = 'modal' data-target='#scmodal'>" + result + "</p>" + "</td>");
				else 
					tr.append("<td>" + result + "</td>");
				tr.append("<td>" + time + " วินาที" + "</td>");
				tr.append("<td>" + score + "</td>");
				if (isLogin == "1" && id_user == res[i].user_id || isAdmin == "0") {
					if(isAdmin == "0")
						tr.append("<td><div class='btn-group'>" + viewcode + del + "</div></td>")
					else
						tr.append("<td>" + viewcode +"</td>" );
				}
				else
					$("#code-display").hide();
				$("#body").append(tr);
			}
			return is_complete;
		}
	</script>
	<script>
		function show_code(id){
			var str = "Submission : " + id;
			$("#schead").text(str);
			$("#sc").load("request_sc", {id : id}, function(response, status, xhr) {
				$("#sc").text(response)
			});
			/*setTimeout(function() {
				$.getScript("/scripts/rainbow-custom.min.js");
			}, 500);*/
		}
		function errortxt(id) {
			var str = "Error : " + id;
			$("#schead").text(str);
			$("#sc").load("request_sc/error", {id : id}, function(response, status, xhr) {
				$("#sc").text(response)
			});
		}
		function delsub(id) {
			if(confirm("Are you sure to delete submission id : "+id)) {
				$.post("/config/del",
				{
					idSub: id,
				});
				location.reload(true);
			}
		}
	</script>

	<!-- chat load -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#chat").load("chat");
		});
	</script>
</head>

<body>
	<!-- navigation bar -->
	<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #F1F1F1">
		<a class="navbar-brand head_typo" href="main">OTOG<span> - One Tambon One Grader</span></a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link head_typo" href="main">
					<i class="fa fa-home"></i> <span>Main</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo active" href="problems">
					<i class="fa fa-puzzle-piece"></i> <span>Problems</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="contest">
					<i class="fa fa-trophy"></i> <span>Contest</span>
					<!-- contest notification
					<sup class="notif blink"> <span class="badge badge-warning badge-pill 
						d-none d-lg-inline-block">New</span>
					</sup>-->
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="ratings">
					<i class="fa fa-bar-chart"></i> <span>Ratings</span>
				</a>
			</li>
			<li class="nav-item">
				<a id = "login_but" class="nav-link head_typo" href="login">
					<i class="fa fa-sign-in"></i> <span>Login</span>
				</a>
			</li>
		</ul>
	</nav><br><br class="d-none d-md-block"><br class="d-none d-lg-block">

	<!-- problem section -->
	<div class="container">
		<!-- search problem -->
		<h2> <i class="fa fa-puzzle-piece"></i> Submission </h2><br>
		<div class="row justify-content-start justify-content-sm-between align-items-baseline flex-row-reverse">
			<div class="col-6 col-sm-4 col-md-auto col-lg-2 d-flex justify-content-end mb-1">
				<a href="problems" class="btn otogbtn w-100">View Problem</a>
			</div>
			<div id="latest-problem" class="col-12 col-sm-8 col-md-6 col-lg-5 d-flex align-items-baseline justify-content-between">
				<label class="text-nowrap"><b>ส่งข้อล่าสุด : </b></label>
				<a href="#" class="otogtxt text-center"> Latest Submission<!--% = latest_submit %--></a>
				<button class="btn otogbtn">Submit</button>
			</div>
		</div>
		<hr>
		<div class="table-responsive">
		<table class="table table-hover" id="probs" style="text-align: center">
			<thead>
				<tr style="color: var(--otog)">
					<th>#</th>
					<th>ชื่อผู้ใช้</th>
					<th>ชื่อโจทย์</th>
					<th>ผลตรวจ</th>
					<th>เวลา</th>
					<th>คะแนน</th>
					<th id="code-display">Code</th>
				</tr>
			</thead>
			<tbody id="body"></tbody>
		</table>
		</div>
	<!-- submit form -->
  	<div class="modal fade" id="scmodal">
    <div class="modal-dialog">
      	<div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        	<h4 id = "schead" class="modal-title"> Modal Header </h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
			<pre><code data-langauge="c" id="sc"></code></pre>
		</div>

      	</div>
    </div>
  	</div>
	<!--Live Chat-->
	<div id="chat"></div>
	<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row mb-3">
			<div class="text-center text-md-left col-md-6">
				<p class="m-0">If you have any problem or suggestion, please <a href="#" style="color: var(--otog)"> Contact Us </a></p>
			</div>
			<div class="text-center text-md-right col-md-6">
				<span>&copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
</body>
</html>
