<!DOCTYPE html>
<html>
<html lang="en">
<head></head>
<body>

		<!-- fetch online problem -->
		<table class="table table-hover" id = "user" style="text-align: center;">
			<thead>
				<tr style="color: #FF851B">
					<th onclick = "w3.sortHTML('#user', '.item', 'td:nth-child(1)')">#</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(2)')">Name</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(3)')">Rating</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(4)')">Passed</th>
				</tr>
			</thead>
			<tbody id = "body"></tbody>
		</table>
	</table>

</body>
</html>