<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<!-- load rating script-->
	<script>
		$(document).ready(function() {
			var all_user = <%-JSON.stringify(users)%>;
			var tr;
			var sz = all_user.length;
			//alert(sz);
			for (var i = 0; i < sz; i++) {
				tr = $("<tr/>");
				tr.addClass("item");
				var name = all_user[i].sname;
				var rating = all_user[i].rating;
				var passed = all_user[i].passed;
				tr.append("<td>" + (i + 1) + "</td>");
				if (rating >= 2000)
					tr.append("<td class='grandmaster'>" + name + "</td>");
				else if (rating >= 1800)
					tr.append("<td class='master'>" + name + "</td>");
				else
					tr.append("<td class='regular'>" + name + "</td>");
				//$("tr").append("<td>" + name + "</td>");
				tr.append("<td>" + rating + "</td>");
				tr.append("<td>" + passed + "</td>");
				$("#body").append(tr);
			}
		});
	</script>
</head>
<body>

		<!-- fetch online problem -->
		<table class="table table-hover" id = "user" style="text-align: center;">
			<thead>
				<tr style="color: #FF851B">
					<th onclick = "w3.sortHTML('#user', '.item', 'td:nth-child(1)')">#</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(2)')">Name</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(3)')">Rating</th>
					<th onclick= "w3.sortHTML('#user', '.item', 'td:nth-child(4)')">Passed</th>
				</tr>
			</thead>
			<tbody id = "body"></tbody>
		</table>
	</table>

</body>
</html>
