
/*
.btn-chat a {
  font-family: arial;
  color: #fff;
  text-decoration: none;
  background: #ff851b;
  padding: 24px 20px 8px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 0 1px #c75d00 inset;
  border: 1px solid #663000;
  border-radius: 2px;
  -ms-transform: rotate(90deg) translate(0, -20px);
  -webkit-transform: rotate(90deg) translate(0, -20px);
  position: relative;
  right: -27px;
  bottom: -400px;
}
.btn-chat a:hover {
  background: #ffa454;
  right: -20px;
}*/