
/* user type */
.legendary{ /* 2500 */
  color: #FF851B;
}
.grandmaster{ /* 2000 */
  color: #fd971f;
}
.master{  /* 1800 */
  color: #ae81ff;
}
.professional{ /*1700 */
  color: #f92672;
}
.regular{ /* 1500 */
  color: #a6e22e;
}
.pupil { /* 1400 */
 color: #66d9ef;
}
.admin{
  color: black;
}

.otogtxt{
  color: #FF851B;
}

.AC{
  background-color: rgb(235,255,235);
}

.WA{
  background-color: rgb(255,235,235);
}
.cnt_msg{
    font-family: Calibri;
      font-size: 15px;
      margin-top:10px;
      margin-bottom:0px;
      text-align: center;
      font-weight:600;
  }
  .cnt_num{
    font-family: Calibri;
      font-size: 50px;
      margin-top:-5px;
      font-weight:100;
      text-align: center;
  }
  .font_white {
    color: #FFFFFF;
  }
  .font_gray {
    color: #111111;
  }
  .font_green {
    color: #41E241;
  }
  .font_red{
    color: #FF4D4D;
  }
  .font_org{
    color: #FFAD33;
  }
  .count_btn {
    border-radius: 6px;
    display: inline-block;
    height: 86px;
    margin: 0 0px;
      padding: 0px 0 0;
      width: 115px;
      margin-top:10px;
      opacity: 0.8;
  }
  .count_btn.blue{
    background-color:#17B4E9;
  }
  .count_btn.green{
    background-color:#41E241;
  }
  .count_btn.red{
    background-color:#FF4D4D;
  }
  .count_btn.org{
    background-color:#FFAD33;
  }
  .count_btn.gray{
    background-color:rgb(200,200,200);
  }

.head_typo, .nav-link:hover{
  font-size: 18px;
  color: #ff851b;
}

 a:hover{
  color: #FF851B;
 }
.pagination > li > a{
  background-color: white;
  color: #FF851B
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: white;
    background-color: #FF851B;
    border-color: #FF851B;
}
.pagination > .active > li > a{
  color: #FF851B;
  background-color: #FF851B;
  border : solid 1px;
}

.pagination > .active > a:hover{
  background-color: #FF851B;
  border : solid 1px;
}

#drop{
    margin-left: 100px;
    color: white;
    background-color: #FF851B;
    border-color: #FF851B;
}

.otogbtn{
  color: white;
  background-color: #FF851B;
  border-color: #FF851B;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

#customFile .custom-file-control:lang(en)::after {
  content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
  content: "Browse";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}
/* primary setup for element + include custom color */
@each $name,$color in
(default, #777), (primary, #428bca), (success, #5cb85c), (danger, #d9534f),
(warning, #f0ad4e), (info, #ff851b), (bdc, #29527a), (otog, #ff851b) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
  .btn-#{$name}{
    background-color: $color;
  }

}
