<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <a class="btn-chat shadow fixed-bottom-right" data-toggle="collapse" href="#chatbox" role="button" aria-expanded="false" aria-controls="chatbox">
        <h3 style="font-size: 1.8rem"><i class="fa fa-commenting fa-flip-horizontal"></i></h3>
    </a>
    <div id="chatbox" class="collapse multi-collapse fixed-bottom-right">
    <div class="card bg-light">
        <div class="card-header chat-head pointer d-flex justify-content-between align-items-baseline"
            data-toggle="collapse" href="#chatbox" role="button" aria-expanded="false" aria-controls="chatbox">
            <b>Chat</b><i class="fa fa-times"></i>
        </div>
        <div class="card-body chat-body">
            <ul id="messages"></ul>
        </div>
        <form id="form" class="chat-form form-inline">
            <input autocomplete="off" id="message" class="form-control rounded-0 shadow-none"
                placeholder="Type your message...">
            <button class="input-group-text rounded-0 shadow-none">Send</div>
        </form>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index.min.js"></script>
    <script src="/scripts/chat.js"></script>
</body>
</html>