<!DOCTYPE html>
<html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>OTOG - One Tambon One Grader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- bootstrap integral -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- main source of custom css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="navbar.js?id=main" id="nav-bar"></script>
	
	<!-- include login script + load problems in main page-->
	<script>
		$(document).ready(function() {
			var prob = <%-JSON.stringify(problems)%>;
			var isLogin = "<%= is_login %>";
			var allprob = prob.length;
			var passed = "<%= passprob %>";
			var notpassed = "<%= notpassed %>";
			var nosub = "<%= nosub %>";
			if (isLogin == "1") {
				$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Logout</span>");
				$("#login_but").attr("href", "logout");
				$("#login_but").css("color", "red");
				$("#welcome").show();
				$("#guest").hide();
			} else {
				$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Login</span>");
				$("#login_but").attr("href", "login");
				$("#login_but").css("color", "rgba(0, 0, 0, 0.7)");
				$("#welcome").hide();
				$("#guest").show();
			}
		});
	</script>
	<script>
		$(document).ready(function() {
			var prob = <%-JSON.stringify(problems)%>;
			var pass_state = <%-JSON.stringify(pass)%>;
			var tr;
			var sz = prob.length;
			var isLogin = "<%= is_login %>";
			for (var i = 0; i < 10; i++) {
				tr = $("<tr/>");
				var id = prob[i].id_Prob;
				var name = prob[i].name;
				var sname = prob[i].sname;
				var time = prob[i].time;
				var mem = prob[i].memory;
				var rating = 1500;
				var pass = prob[i].pass;
				if(isLogin == "1") {
					if(pass_state[id] == 2) tr.addClass("item AC");
					else if(pass_state[id] == 1)tr.addClass("item WA");
				}
				var path = "problems/docs/" + sname;
				tr.append("<td>" + id + "</td>");
				tr.append("<td>" + "<a class = 'otogtxt' href =" + path + ">" + name + "<br>" +
					"(" + time + " วินาที, " + mem + " MB" + ")" + "</a>" + "</td>");
				tr.append("<td>" + pass + "</td>");
				tr.append("<td>" + rating + "</td>");
				$("#body").append(tr);
			}
		});
	</script>

	<!-- chat load -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#chat").load("chat");
		});
	</script>
</head>

<body>
	<!-- navigation bar -->
	<div id="navbar-frame" >
	</div>
	<!-- end navigation bar -->
	
<div class="snowflakes" aria-hidden="true">
	<div class="snowflake">
	❅
	</div>
	<div class="snowflake">
	❅
	</div>
	<div class="snowflake">
	❆
	</div>
	<div class="snowflake">
	❄
	</div>
	<div class="snowflake">
	❅
	</div>
	<div class="snowflake">
	❆
	</div>
	<div class="snowflake">
	❄
	</div>
	<div class="snowflake">
	❅
	</div>
	<div class="snowflake">
	❆
	</div>
	<div class="snowflake">
	❄
	</div>
  </div>
	<div class="jumbotron">
		<div class="container">
			<!-- not login -->
			<div id="guest">
				<h1>Welcome to<b>
					<code class="font_green">O</code>
    				<code class="font_red">T</code>
    				<code class="font_org">O</code>
					<code class="font_blue">G</code>
				</b></h1>
				<h1>Become a god of competitive programming.</h1>
				<h3>Learn how to code and build algorithms efficiently.</h3><br>
				<a href="register" target="_blank" class="btn btn-lg otogbtn">Sign Up</a>
			</div>
			<!-- login -->
			<div id="welcome">
				<h4 class="text-center"> <code class="font_gray">สวัสดี <%= showname %></code></h4>
				<ul class="d-flex justify-content-center flex-wrap p-0 list-unstyled">
					<li><div class="count_button black select-none">
						<h5 class="font_white cnt_msg">ทั้งหมด</h5>
						<code class="font_white cnt_num"> <%= allprob %></code>
						</div>
					</li>
					<li><div class="count_button green select-none">
						<h5 class="font_white cnt_msg">ผ่านแล้ว</h5>
						<code class="font_white cnt_num"><%= passprob %></code>
						</div>
					</li>
					<li><div class="count_button red select-none">
						<h5 class="font_white cnt_msg">ยังไม่ผ่าน</h5> 
						<code class="font_white cnt_num"><%= notpassed %></code>
						</div>
					</li>
					<li><div class="count_button org select-none">
						<h5 class="font_white cnt_msg">ยังไม่ส่ง </h5>
						<code class="font_white cnt_num"><%= nosub %></code>
						</div>
					</li>
					<li><div class="count_button blue select-none">
						<h5 class="font_white cnt_msg">โจทย์วันนี้</h5>
						<code class="font_white cnt_num"><%= todayprob %></code>
						</div>
					</li>
				</ul>
				<h6 class="font_gray text-center"><b>ยังมีชีวิตรอด</b> : <%= online %></h6>
				<!--<h6 class="font_gray text-center"> <%= who_online %> </h6> -->
			</div>
		</div>
	</div><br>
	<!-- 3 main path -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 suggest px-5 p-md-3">
				<h2><i class="fa fa-question"></i> FAQ</h2>
				<p> ไม่รู้ว่าจะเริ่มต้นอย่างไร ทุกอย่างดูงงไปหมด ถ้าหากคุณมีปัญหาเหล่านี้สามารถ หาคำตอบได้จาก คำถามยอดนิยมที่ผู้ใช้ส่วนใหญ่มักจะถามเป็นประจำ </p>
				<a href="#" target="_blank" class="btn btn-lg otogbtn">Learn More</a>
				<br><br>
			</div>
			<div class="col-md-4 suggest px-5 p-md-3">
				<h2><i class="fa fa-flag-checkered"></i> Get started</h2>
				<p> เพิ่งเริ่มการเดินทาง อาจจะอยากได้การต้อนรับที่ดี ด้วยโจทย์ที่คัดสรรว่าเหมาะสำหรับผู้เริ่มต้นใน competitive programming </p>
				<a href="problems" target="_blank" class="btn btn-lg otogbtn">View Problem</a>
				<br><br>
			</div>
			<div class="col-md-4 suggest px-5 p-md-3">
				<h2><i class="fa fa-trophy"></i> Contest</h2>
				<p> ทำโจทย์คนเดียวมันอาจจะเหงา ลองมาเข้า contest การแข่งขันอันทรงเกียรติ (?) เพื่อจะได้มีเพื่อนทำโจทย์และแข่งขันไปพร้อมๆกันกับเรา </p>
				<a href="contest" target="_blank" class="btn btn-lg otogbtn">Join Contest</a>
				<br><br>
			</div>
		</div>
		<!-- example of table use for refer only -->
		<div>
			<i class="glyphicon glyphicon-asterisk"></i>
			<h2><i class="fa fa-puzzle-piece"></i> โจทย์ใหม่</h2>
		</div>
		<hr>
		<!-- fetch new problem (maybe top 10) -->
		<div class="table-responsive">
			<table class="table table-hover" style="text-align: center;">
				<thead>
					<tr style="color: #FF851B">
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Passed</th>
						<th scope="col">Ratings</th>
					</tr>
				</thead>
				<tbody id=body></tbody>
			</table>
		</div>
		<!-- Live Chat -->
		<div id="chat"></div>
		<!-- footer of Phakphum Dev Team -->
		<hr>
		<footer>
			<div class="row mb-3">
				<div class="text-center text-md-left col-md-6">
					<p class="m-0">If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
				</div>
				<div class="text-center text-md-right col-md-6">
					<a href="config" class = "configlink">&copy; 2019 Phakphum Dev Team </a>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>
