<!DOCTYPE html>
<html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>OTOG - One Tambon One Grader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- bootstrap integral -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- main source of custom css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style type="text/css">
        a.configlink {text-decoration: none;}
		a.configlink {color: #000000;}
		a.configlink {cursor: default;}
	</style>
	<!-- include login script + load problems in main page-->
	<script>
		$(document).ready(function() {
			var prob = <%-JSON.stringify(problems)%>;
			var isLogin = "<%= is_login %>";
			var allprob = prob.length;
			var passed = "<%= passprob %>";
			var notpassed = "<%= notpassed %>";
			var nosub = "<%= nosub %>";
			if (isLogin == "1") {
				$("#login_but").html("<i class=\"fa fa-sign-in\"></i> <span>Logout</span>");
				$("#login_but").attr("href", "logout");
				$("#login_but").css("color", "red");
				$("#welcome").show();
				$("#guest").hide();
			} else {
				$("#login_but").html("<i class=\"fa fa-sign-in\"></i> <span>Login</span>");
				$("#login_but").attr("href", "login");
				$("#login_but").css("color", "rgba(0, 0, 0, 0.7)");
				$("#welcome").hide();
				$("#guest").show();
			}
		});
	</script>
	<script>
		$(document).ready(function() {
			var prob = <%-JSON.stringify(problems)%>;
			var pass_state = <%-JSON.stringify(pass)%>;
			var tr;
			var sz = prob.length;
			var isLogin = "<%= is_login %>";
			for (var i = 0; i < 10; i++) {
				tr = $("<tr/>");
				var id = prob[i].id_Prob;
				var name = prob[i].name;
				var sname = prob[i].sname;
				var time = prob[i].time;
				var mem = prob[i].memory;
				var rating = 1500;
				var pass = prob[i].pass;
				if(isLogin == "1") {
					if(pass_state[id] == 2) tr.addClass("item AC");
					else if(pass_state[id] == 1)tr.addClass("item WA");
				}
				var path = "problems/docs/" + sname;
				tr.append("<td>" + id + "</td>");
				tr.append("<td>" + "<a class = 'otogtxt' href =" + path + ">" + name + "<br>" +
					"(" + time + " วินาที, " + mem + " MB" + ")" + "</a>" + "</td>");
				tr.append("<td>" + pass + "</td>");
				tr.append("<td>" + rating + "</td>");
				$("#body").append(tr);
			}
		});
	</script>

	<!-- chat load -->
	<!--<script type="text/javascript">
		$(document).ready(function() {
			$("#chatbox").load("chat");
		});
	</script>
	-->
</head>

<body>
	<!-- navigation bar -->
	<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #F1F1F1">
		<a class="navbar-brand head_typo" href="main">OTOG<span> - One Tambon One Grader</span></a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link head_typo active" href="main">
					<i class="fa fa-home"></i> <span>Main</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="problems">
					<i class="fa fa-puzzle-piece"></i> <span>Problems</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="contest">
					<i class="fa fa-trophy"></i> <span>Contest</span>
					<!-- contest notification
					<sup class="notif blink"><span class="badge badge-warning
						badge-pill d-none d-lg-inline-block">New</span>
					</sup>-->
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link head_typo" href="ratings">
					<i class="fa fa-bar-chart"></i> <span>Ratings</span>
				</a>
			</li>
			<li class="nav-item">
				<a id="login_but" class="nav-link head_typo" href="login">
					<i class="fa fa-sign-in"></i> <span>Login</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- end navigation bar -->
	<div class="jumbotron">
		<div class="container">
			<!-- not login -->
			<div id="guest">
				<h1>Welcome to<b>
					<code class="font_green">O</code>
    				<code class="font_red">T</code>
    				<code class="font_org">O</code>
					<code class="font_blue">G</code>
				</b></h1>
				<h1>Become a god of competitive programming.</h1>
				<h3>Learn how to code and build algorithms efficiently.</h3><br>
				<a href="register" target="_blank" class="btn btn-lg otogbtn">Sign Up</a>
			</div>
			<!-- login -->
			<div id="welcome">
				<h4 class="text-center"> <code class="font_gray">สวัสดี <%= showname %></code></h4>
				<ul class="d-flex justify-content-center flex-wrap p-0 list-unstyled">
					<li><div class="count_button black select-none">
						<h5 class="font_white cnt_msg">ทั้งหมด</h5>
						<code class="font_white cnt_num"> <%= allprob %></code>
						</div>
					</li>
					<li><div class="count_button green select-none">
						<h5 class="font_white cnt_msg">ผ่านแล้ว</h5>
						<code class="font_white cnt_num"><%= passprob %></code>
						</div>
					</li>
					<li><div class="count_button red select-none">
						<h5 class="font_white cnt_msg">ยังไม่ผ่าน</h5> 
						<code class="font_white cnt_num"><%= notpassed %></code>
						</div>
					</li>
					<li><div class="count_button org select-none">
						<h5 class="font_white cnt_msg">ยังไม่ส่ง </h5>
						<code class="font_white cnt_num"><%= nosub %></code>
						</div>
					</li>
					<li><div class="count_button blue select-none">
						<h5 class="font_white cnt_msg">โจทย์วันนี้</h5>
						<code class="font_white cnt_num"><%= todayprob %></code>
						</div>
					</li>
				</ul>
				<h6 class="font_gray text-center"><b>ยังมีชีวิตรอด</b> : <%= online %></h6>
				<!--<h6 class="font_gray text-center"> <%= who_online %> </h6> -->
			</div>
		</div>
	</div><br>
	<!-- 3 main path -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 suggest">
				<h2><i class="fa fa-question"></i> FAQ</h2>
				<p> ไม่รู้ว่าจะเริ่มต้นอย่างไร ทุกอย่างดูงงไปหมด ถ้าหากคุณมีปัญหาเหล่านี้สามารถ หาคำตอบได้จาก คำถามยอดนิยมที่ผู้ใช้ส่วนใหญ่มักจะถามเป็นประจำ </p>
				<a href="#" target="_blank" class="btn btn-lg otogbtn">Learn More</a>
				<br><br>
			</div>
			<div class="col-md-4 suggest">
				<h2><i class="fa fa-flag-checkered"></i> Get started</h2>
				<p> เพิ่งเริ่มการเดินทาง อาจจะอยากได้การต้อนรับที่ดี ด้วยโจทย์ที่คัดสรรว่าเหมาะสำหรับผู้เริ่มต้นใน competitive programming </p>
				<a href="problems" target="_blank" class="btn btn-lg otogbtn">View Problem</a>
				<br><br>
			</div>
			<div class="col-md-4 suggest">
				<h2><i class="fa fa-trophy"></i> Contest</h2>
				<p> ทำโจทย์คนเดียวมันอาจจะเหงา ลองมาเข้า contest การแข่งขันอันทรงเกียรติ(?) เพื่อจะได้มีเพื่อนทำโจทย์และแข่งขันไปพร้อมๆกันกับเรา </p>
				<a href="contest" target="_blank" class="btn btn-lg otogbtn">Join Contest</a>
				<br><br>
			</div>
		</div>
		<!-- example of table use for refer only -->
		<div>
			<i class="glyphicon glyphicon-asterisk"></i>
			<h2><i class="fa fa-puzzle-piece"></i> โจทย์ใหม่</h2>
		</div>
		<hr>
		<!-- fetch new problem (maybe top 10) -->
		<div class="table-responsive">
			<table class="table table-hover" style="text-align: center;">
				<thead>
					<tr style="color: #FF851B">
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Passed</th>
						<th scope="col">Ratings</th>
					</tr>
				</thead>
				<tbody id=body></tbody>
			</table>
		</div>
		<!-- Live Chat -->
		<a data-toggle="collapse" href="#chatbox" role="button" aria-expanded="false" aria-controls="chatbox">
			<div class="btn-chat fixed-bottom shadow">
				<h3 style="font-size: 1.6rem"><i class="fa fa-commenting fa-flip-horizontal"></i></h3>
			</div>
		</a>
		<div class="collapse multi-collapse fixed-bottom" id="chatbox">
			<div class="card bg-light mb-3" style="max-width: 18rem">
				<div class="card-header d-flex justify-content-between align-items-baseline">
					<a onclick="window.open('/chat','name','width=350,height=500')" href="/chat"
					target="popup" class="link font_org">New Chat Comming Soon...</a>
					<a data-toggle="collapse" href="#chatbox" role="button" aria-expanded="false"
					aria-controls="chatbox" class="font_gray"><i class="fa fa-times"></i></a>
				</div>
				<div class="card-body"></div>
			</div>
		</div>
		<!-- footer of Phakphum Dev Team -->
		<hr>
		<footer>
			<div class="row">
				<div class="col-md-6">
					<p>If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
				</div>
				<div class="col-md-6">
					<span class="float-right">
						<a href="config" class = "configlink">&copy; 2019 Phakphum Dev Team </a>
					</span>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>
