<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>OTOG - One Tambon One Grader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- bootstrap integral -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- main source of custom css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	
	<script src="navbar.js?id=contest" id="nav-bar"></script>
 	<!-- js for show contest -->
  	<script>
  	$(document).ready(function(){ // onload
  		var config = <%-JSON.stringify(config)%>;
  		if(config[0].mode == "No Contest") $("#contest_section").load("contest/unshow_contest");
  		else $("#contest_section").load("contest/show_contest");
  	});
  	</script>
	<script>
	var isLogin = "<%= is_login %>";
	$(document).ready(function() {
		if (isLogin == "1") {
			$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Logout</span>");
			$("#login_but").attr("href", "logout");
			$("#login_but").css("color", "red");
		} else {
			$("#login_but").html("<i class='fa fa-sign-in'></i> <span>Login</span>");
			$("#login_but").attr("href", "login");
			$("#login_but").css("color", "rgba(0, 0, 0, 0.7)");
		}
	});
	</script>
	<!-- chat load -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#chat").load("/chat");
		});
	</script>
</head>

<body>
	<!-- navigation bar -->
	<div id="navbar-frame" >
	</div><br><br class="d-none d-md-block"><br class="d-none d-lg-block">
	
	<div class="container">
	<div id="contest_section"></div>
	
	<!-- Live Chat -->
	<div id="chat"></div>
	<!-- footer of Phakphum Dev Team -->
	<hr>
	<footer>
		<div class="row mb-3">
			<div class="text-center text-md-left col-md-6">
				<p class="m-0">If you have any problem or suggestion, please <a href="#" style="color: #FF851B"> Contact Us </a></p>
			</div>
			<div class="text-center text-md-right col-md-6">
				<span>&copy; 2019 Phakphum Dev Team</span>
			</div>
		</div>
	</footer>
	</div>
</body>
</html>
