<!DOCTYPE html>
<html>
<head>
		<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2><i class="fa fa-trophy"></i> Contest mode</h2>
		</div>
		<div class="col-md-6">
			<a href = "scoreboard"
			class="btn otogbtn btn-lg float-right">View Scoreboard</a>
		</div>
	</div>
	<hr>
	<!-- fetch contest problem -->
	<table class="table table-condensed table-hover" style="text-align: center;">
		<thead>
			<tr style="color: #FF851B">
				<th scope="col">#</th>
				<th scope="col">ชื่อโจทย์</th>
				<th scope="col">เวลา</th>
				<th scope="col">หน่วยความจำ</th>
				<th scope="col">คะแนนเต็ม</th>
				<th scope="col">ผ่านแล้ว</th>
			</tr>
		</thead>
		<tbody class="justify-content-center">
				<tr>
					<td>1</td>
					<td><a href="#" style="color: #FF851B">TOI_14 Logistic</a></td>
					<td>1 วินาที</td>
					<td>512 MB</td>
					<td>100</td>
					<td>19</td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="#" style="color: #FF851B">TOI_14 BlockChain</a></td>
					<td>1 วินาที</td>
					<td>512 MB</td>
					<td>100</td>
					<td>13</td>
				</tr>
				<tr>
					<td>3</td>
					<td><a href="#" style="color: #FF851B">TOI_14 NBK48</a></td>
					<td>1 วินาที</td>
					<td>512 MB</td>
					<td>100</td>
					<td>31</td>
				</tr>
			</tbody>
	</table>
</div>
</body>
</html>
