<!DOCTYPE html>
<html>
<head>
		<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- load contest table -->
  <script>
		$(document).ready(function() {
			var prob = <%-JSON.stringify(problems)%>;
			var pass_state = <%-JSON.stringify(pass)%>;
			var tr;
			var sz = prob.length;
			var isLogin = "<%= is_login %>";
			for (var i = 0; i < sz; i++) {
				tr = $("<tr/>");
				var id = prob[i].id_Prob;
				var name = prob[i].name;
				var sname = prob[i].sname;
				var time = prob[i].time;
				var mem = prob[i].memory;
				var rating = prob[i].rating;
				var pass = prob[i].pass;
        var param = '"' + "show_submit(" + i + ")" + '"';
				if(isLogin == "1") {
					if(pass_state[id] == 2) tr.addClass("item AC");
					else if(pass_state[id] == 1)tr.addClass("item WA");
				}
				var path = "problems/docs/" + sname;
				tr.append("<td>" + id + "</td>");
				tr.append("<td>" + "<a class = 'otogtxt' href =" + path + ">" + name + "</a>" + "</td>");
				tr.append("<td>" + time + " วินาที" + "</td>");
        tr.append("<td>" + mem + " MB" + "</td>");
        tr.append("<td>" + "100" + "</td>");
				tr.append("<td>" + pass + "</td>");
        if (isLogin == "1") tr.append("<td>" + "<button class='btn otogbtn' onclick=" + param +
					"data-toggle = 'modal' data-target='#submit_modal'>Submit</button>" + "</td>");
				$("#body").append(tr);
			}
		});
	</script>
  <script>
    function show_submit(id) {
      //alert("It's (may) work !");
      var prob = <%-JSON.stringify(problems)%>;
      var pname = prob[id].name;
      //alert(pname);
      $("#prob_head").text(pname);
      $("#send_id").attr("value", prob[id].id_Prob);
    }
  </script>
  <!-- submission script -->
  <script>
    var input = document.getElementById('customfile');
    var label = document.getElementById('file_name');
    input.addEventListener('change', showFileName);

    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      label.textContent = fileName;
    }
  </script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2><i class="fa fa-trophy"></i> Contest mode</h2>
		</div>
		<div class="col-md-6">
			<a href = "scoreboard"
			class="btn otogbtn btn-lg float-right">View Scoreboard</a>
		</div>
	</div>
	<hr>
	<!-- fetch contest problem -->
	<table class="table table-condensed table-hover" style="text-align: center;">
		<thead>
			<tr style="color: #FF851B">
				<th scope="col">#</th>
				<th scope="col">ชื่อโจทย์</th>
				<th scope="col">เวลา</th>
				<th scope="col">หน่วยความจำ</th>
				<th scope="col">คะแนนเต็ม</th>
				<th scope="col">ผ่านแล้ว</th>
			</tr>
		</thead>
		<tbody id=body class="justify-content-center"></tbody>
	</table>
</div>
<!-- submit form -->
<div class="modal fade" id="submit_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id = "prob_head" class="modal-title"> Modal Header </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="upload" method="post" enctype="multipart/form-data">

          <div class="custom-file">
            <input type="file" class="custom-file-input" name="customfile" id="customfile">
            <label class="custom-file-label" for="customfile" id = "file_name">Choose file</label>
          </div><br><br>

          <label>Choose Language</label>
          <select class="custom-select">
            <option selected value="c">C</option>
            <option selected value="cpp">C++</option>
          </select><br><br>
          <input type="hidden" value = "#" name="prod_id" id = "send_id">
          <div class="modal-footer">
          <button type="submit" class="btn otogbtn">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
