<!DOCTYPE html>
<html>
<head>
		<!-- bootstrap integral -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- main source of custom css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
	<div class="container" style="text-align: center;">
		<h2 style="padding-top: 150px"> การแข่งขันยังไม่เริ่ม </h2><br><br><br>
		<a href="/scoreboard/id/10"
		class = "btn otogbtn btn-lg"> ตรวจสอบผลการแข่งขัน </a>
		<p style="padding-bottom: 200px"></p>
	</div>
</body>
